@page "EntryPage"
@model TheSurvivorsOfCsharp.Pages.Courses.IndexModel
@using Microsoft.AspNetCore.Http

@*add more data here:<p>
        <a asp-page="Create">Create New</a>
    </p>*@


    <div class="text-center mt-4 mb-3">
        @if(HttpContext.Session.GetString("username") != null){
        <h2>Welcome @HttpContext.Session.GetString("username")</h2>
        }
        <h1>Quick Search</h1>
        <br />
    </div>
<hr />



<div class="container">
    <div class="row">
        <form>
            University:
            <select class="dropdovn" asp-for="University" asp-items="Model.Universities">
                <option value=""></option>
            </select>
            Major:
            <select class="dropdovn" asp-for="Major" asp-items="Model.Majors">
                <option value=""></option>
            </select>
            Lecturer:
            <select class="dropdovn" asp-for="Lecturer" asp-items="Model.Lecturers">
                <option value=""></option>
            </select>
            <input type="submit" value="Filter" id="hide" />
            <input type="search" id="searchrec" class="search" placeholder="Search data.." />
        </form>
    </div>
</div>
<table class="table" id="table1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Since</th>
            <th>University</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Course)
        {
            <tr id="1">
                <td><a asp-page="./Details" asp-route-id="@item.ID">@item.Name</a></td>
                <td>
                    @{
                        string semester = Model.SemesterName(item.Since);
                    }
                    @semester
                </td>
                <td>@item.University.Name</td>
            </tr>
        }
    </tbody>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".search").on("keyup", function () {
            var datasearch = $(this).val().toLowerCase();
            $("#table1 #1").each(function () {
                var stringdata = $(this).text().toLowerCase();
                if (stringdata.indexOf(datasearch) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });

</script>

<script>
    $(document).ready(function () {
        $(".dropdovn").on("change", function () {
            $("#hide").click();
        });
    });
</script>


