@page
@model TheSurvivorsOfCsharp.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
    <h1>@ViewData["Title"]</h1>
<div class="container">
    <h1 class="mt-4 mb-3">
        Contact
    </h1>
    <hr />

</div>