@page
@model TheSurvivorsOfCsharp.Pages.FeedBackModel
@{
    ViewData["Title"] = "FeedBack";
}
    <h1>@ViewData["Title"]</h1>
    <div class="container">
        <h1 class="mt-4 mb-3">
            Feedback
        </h1>
        <hr />

    </div>


