@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <body>
        <header>
            <div class="text-center mt-4 mb-3">
                <h1>Quick Search</h1>
            </div>
            <hr />
        </header>

        <div class="container">
            <div class="row1">
                <form>
                    <div class="control-group form-group">
                        <label><strong>University</strong></label>
                        <div class="controls">
                            <select class="form-control">
                                <option value="1">yes</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <label><strong>Major</strong></label>
                        <div class="controls">
                            <select class="form-control">
                                <option value="1">kkk</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label><Strong>Proffesor</Strong></label>
                            <input type="text" class="form-control" id="prof" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label><Strong>Course name</Strong></label>
                            <input type="text" class="form-control" id="course" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success" id="sendMessageButton">Search!</button>


                </form>
            </div>
        </div>
    </body>