@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <body>
        <header>
            <div class="text-center">
                <h1 class="display-4">Welcome</h1>
                <p>Welcome To University Advisor!</p>
            </div>
        </header>
    </body>