@page
@model TheSurvivorsOfCsharp.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <h1 class="mt-4 mb-3">
        Login
    </h1>
    <hr />

</div>

