@page
@model TheSurvivorsOfCsharp.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <h1 class="mt-4 mb-3">
        Register
    </h1>
    <hr />

</div>

